/* style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('./image/theme3-background.jpg'); /* Cambia por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease; /* Transición para el cambio de fondo */
}

a {
    text-decoration: none;
}

.logos {
    position: fixed;
    top: 10px; /* Espacio desde la parte superior */
    left: 10px; /* Espacio desde la izquierda */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px); /* Ajusta el ancho para que no se salga de la pantalla */
}

.logos .upp {
    display: inline-block;
}

.logos img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.content {
    margin-top: 70px; /* Espacio para los logos */
    padding: 10px;
    overflow-y: auto; /* Permite desplazamiento vertical */
    max-height: calc(100vh - 70px); /* Altura máxima para la lista */
}

.item {
    background: white;
    border-radius: 8px;
    margin: 10px 0; /* Espacio entre los recuadros */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para que las imágenes no se salgan */
}

.item img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.content .content {
    padding: 15px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.type {
    font-size: 1.2rem;
    color: gray;
}

.description {
    margin-top: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .title {
        font-size: 1.2rem;
    }

    .type {
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
    }
}

/* Estilos para pantallas más grandes */
@media (min-width: 769px) {
    .item {
        margin: 10px;
    }

    .description {
        font-size: 1.3rem;
    }
}